doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title InformaAT
  body
    p El usuario #{user} realizo una queja en la plataforma de informAT
    p #{message}
